---
layout: default
sitemap: false
---

<div id="right">
  <div class="article-list-header">
  <i class="fa fa-newspaper-o"></i> Publications</div>
 	{% for post in site.posts %}
	 <div class="article-list-entry"> 
	  
	   <span class="article-list-entry-date">  		
	   		{{post.date | date: "%d/%m/%Y" }}
	   </span>
	   <i class="fa fa-chevron-circle-right"></i>
	   <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
	 </div>  
	{% endfor %}
	<div class="social-icons-right">
	{% include svg-icons.html %} 
	</div>
   </div>

<div id="left">
	<div class="posts">
	  {% for post in site.posts %}
	    
	    <article class="front-post">
	      <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.baseurl }}/images/logos/{{ post.logo }}" 
	      												  class="logo" 
	      												  alt="{{ post.title }}" 
	      												  title="{{ post.title }}" /></a>
	      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
	      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.subtitle }}</a></h2>
	      
	      <div class="front-date">Le {{post.date | date: "%d/%m/%Y" }}</div>
	
	      <div class="entry">      
	        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.excerpt }}</a>
	      </div>
	      <div class="read-more">
	      <a href="{{ site.baseurl }}{{ post.url }}" >Lire plus ...</a>
	      </div>
	    </article>
	    
	  {% endfor %}
	</div>
</div>


