---
layout: default
lang: fr
---

<div id="right">
 <div id="article-list">
  <div class="article-list-header">Articles</div>
 	{% for post in site.categories.articles %}
	 <div class="article-list-entry">
	   <span class="article-list-entry-date">
	   <i class="fa fa-chevron-circle-right"></i>
	   		{{post.date | date: "%d/%m/%Y" }}
	   </span>
	   <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
	 </div>
	{% endfor %}

  </div>
  
  <div id="blanka-list">
  <div class="article-list-header">Grotte de Blanka</div>
 	{% for post in site.categories.blanka %}
	 <div class="article-list-entry">
	   <span class="article-list-entry-date">
	   <i class="fa fa-chevron-circle-right"></i>
	   		{{post.date | date: "%d/%m/%Y" }}
	   </span>
	   <a href="{{ site.baseurl }}/blanka-cave/#{{ post.url }}">{{ post.title }}</a>
	 </div>
	{% endfor %}
	
  </div>
  
  <div class="social-icons-right">
	{% include svg-icons.html %}
  </div>
	
</div>

<div id="left">
	<div class="posts">
	  {% for post in site.categories.articles %}
	    <article class="front-post">
	      <span style="float : right">
					<a href="{{ site.baseurl }}{{ post.url }}" class="hvr-buzz-out">
						<img src="{{ site.baseurl }}/images/logos/{{ post.logo }}" 
								class="logo"
								alt="{{ post.title }}"
								title="{{ post.title }}" />
					</a>
	      </span>
	      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
	      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.subtitle }}</a></h2>
	      <div class="front-date">Le {{post.date | date: "%d/%m/%Y" }}</div>
	      <div class="entry"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.excerpt }}</a></div>
	      <div class="read-more"><a href="{{ site.baseurl }}{{ post.url }}" >Lire plus ...</a></div>
	    </article>
	  {% endfor %}
	</div>
</div>
