--- 
---

// IMPORTS
//
@import "fonts";
@import "reset";
@import "variables";
@import "back-to-top";
@import "base-rules";
@import "mixins";
// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.container {
    margin: 0 auto;
    max-width: 1800px;
    padding: 0 10px;
    width: 100%;
    margin-left: 2.5em;
}

//
// .masthead
//
.wrapper-masthead {
    background-image: url('/images/scanline.jpg');
    background-size: cover;
    margin: 0px 0px 0px 0px;
    padding-bottom: 10px;
    width: 100%;
    box-shadow: 0px 5px 5px black;
    @include mobile {
        padding-bottom: 3em;
    }
}

.masthead {
    @include mobile {
        text-align: center;
    }
}

.site-avatar {
    float: left;
    width: 70px;
    height: 70px;
    margin: 5px;
    @include mobile {
        float: none;
        width: 50px;
        height: 50px;
        display: block;
        padding-top: 0.5em;
        margin: 0 auto;
        margin-bottom: 0.5em;
    }
}

.site-info {
    @include mobile {
        float: none;
        display: block;
        margin: 0 auto;
    }
}

.site-name {
    margin-top: 10px;
    margin-bottom: 0.5em;
    color: #00FF00;
    cursor: pointer;
    font-family: "amiga", "Press Start 2P", $helveticaNeue;
    font-size: 2em;
    letter-spacing: 1px;
    @include mobile {
        margin-top: 0px;
        font-size: 1.5em;
        text-align: center;
    }
}

.site-description {
    margin: -15px 0 0 0;
    color: $white;
    font-size: 1.5em;
    font-family: 'atari';
    @include mobile {
        font-size: 1em;
        margin: 3px 3px;
        text-align: center;
    }
}

@import "nav";
#left {
    margin-right: 450px;
    @include mobile {
        margin-right: inherit
    }
}

#right {
    @include mobile {
        display: none;
    }
    float: right;
    width: 450px;
    .social-icons-right {
        clear: right;
        padding-top: 2em;
        text-align: center;
        width: 100%
    }
}

.wrapper-footer {
    margin-top: 50px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: $lightGray;
    footer {
        padding: 20px 0;
        text-align: center;
    }
    .legal {
        margin-top: 1em;
        display: block;
        clear: both;
        font-family: 'volter';
        font-size: 9px;
    }
}

//
// .main
//
@import "article-list";
@import "retro-list";
@import "blanka";
@import "stackoverflow";
@import "search";
@import "front-post";
@import "post";
@import "table-of-content";
@import "share";
@import "video";
@import "disqus";
@import "languages";
@import "article-list-post-footer";
@import "gurumeditation";

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
@import "fx";
