--- 
---

// IMPORTS
//
@import "fonts";
@import "reset";
@import "variables";
@import "back-to-top";
@import "base-rules";
@import "mixins";
@import "header";
// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.container {
    margin: 0 auto;
    max-width: 1800px;
    padding: 0 10px;
    width: 100%;
    margin-left: 2.5em;
}

//
// .masthead
//

@import "nav";
#left {
    margin-right: 470px;
    @include mobile {
        margin-right: inherit
    }
}

#right {
    @include mobile {
        display: none;
    }
    float: right;
    width: 450px;
    margin-right: 20px;
    .social-icons-right {
        clear: right;
        padding-top: 2em;
        text-align: center;
        width: 100%
    }
}

.wrapper-footer {
    margin-top: 50px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: $lightGray;
    footer {
        padding: 20px 0;
        text-align: center;
    }
    .legal {
        margin-top: 1em;
        display: block;
        clear: both;
        font-family: 'volter';
        font-size: 9px;
    }
}

//
// .main
//
@import "article-list";
@import "retro-list";
@import "blanka";
@import "stackoverflow";
@import "search";
@import "front-post";
@import "post";
@import "table-of-content";
@import "share";
@import "video";
@import "disqus";
@import "languages";
@import "article-list-post-footer";
@import "gurumeditation";

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
@import "fx";
