---
---

// IMPORTS
//
@import "fonts";
@import "reset";
@import "variables";
@import "back-to-top";
@import "base-rules";
@import "mixins";

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.container {
    margin: 0 auto;
    max-width: 1800px;
    width: 100%;
}

// Layout
@import "header";
@import "sidebar";
@import "footer";
@import "nav";

// Content
@import "cards";
@import "article";
@import "post";
@import "front-post";
@import "table-of-content";

// Components
@import "search";
@import "share";
@import "languages";
@import "disqus";
@import "video";
@import "article-list";
@import "retro-list";
@import "blanka";
@import "stackoverflow";
@import "back-to-top";
@import "gurumeditation";

// Utilities
@import "highlights";
@import "svg-icons";
@import "fx";
