{% assign posts = site.categories.articles | where:"lang", page.lang %}

<div id="article-list">
		<div class="article-list-header">Articles</div>
		{% for post in posts %}
		
			
			<div class="article-list-entry">
				<span class="article-list-entry-date">
				Date:
					{{post.date | date: "%d/%m/%Y" }}
			</span>
				<a href="{{ site.baseurl }}{{ post.url }}">
			    <span class="thomson-menu">&nbsp;</span>
				<span class="article-list-title">{{ post.title }}</span></a>
				<!-- 
				{% assign _posts=site.posts | where:"ref", post.ref | sort: 'lang' %}
				{% for _post in _posts %}
						<a href="{{ _post.url }}"><img src="/images/flags/{{ _post.lang }}.png" /></a>	
				{% endfor %}
				-->
				
			</div>
		{% endfor %}
</div>