<div style="margin-top: 2em; border-top : solid black 1px">
    <div style="float : right; margin-left : 2em; margin-top : 1em"> <a href="{{ site.baseurl }}{{ post.url }}" class="hvr-buzz-out">
                    <img src="{{ site.baseurl }}/images/logos/{{ post.logo }}" class="logo"	alt="{{ post.title }}" title="{{ post.title }}" />
                </a></div>
    <div class="retro-prog-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
    <div style="font-family : 'amiga'; margin-top : 0.5em">> {{ post.subtitle }}</div>
    <div>{{ post.excerpt }}</div>  
    <div class="read-more" style="text-align : right"><a href="{{ site.baseurl }}{{ post.url }}" >{{ site.t[page.lang].read_more }}</a></div>
</div>      
<div style="clear: both"></div>    