{% if site.disqus %}
<div class="disqus">
	<h2>{{ site.t[page.lang].comments }}</h2>
	<div class="comments">
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			// Chargement differe : embed.js (~700 Ko) n'est demande qu'au
			// premier clic sur [COMMENTS]. loadDisqus() est idempotente.
			var disqus_shortname = '{{ site.disqus }}';
			window.loadDisqus = (function () {
				var loaded = false;
				return function () {
					if (loaded) return;
					loaded = true;
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				};
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</div>
</div>
{% endif %}