<aside class="toc-sidebar">
  <div class="sidebar-section-title">CONTENTS</div>
  {% include toc.html html=content %}
  <hr class="sidebar-divider">
  <div class="sidebar-section-title">SHARE</div>
  <div class="sidebar-share">
    <a href="https://github.com/fxrobin" target="_blank" rel="nofollow">[gh]</a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" rel="nofollow">[li]</a>
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" target="_blank" rel="nofollow">[tw]</a>
  </div>
</aside>