<aside class="toc-sidebar">
  <div class="sidebar-section-title">CONTENTS</div>
  {% include toc.html html=content class="toc-list" h_min=2 h_max=3 %}
  <hr class="sidebar-divider">
  <div class="sidebar-section-title">SHARE</div>
  <div class="sidebar-share">
    <a href="https://github.com/fxrobin" target="_blank" rel="nofollow" title="GitHub">[gh]</a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" rel="nofollow" title="Share on LinkedIn">[li]</a>
    <a href="https://x.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" target="_blank" rel="nofollow" title="Share on X">[x]</a>
  </div>
  {% if page.tags and page.tags.size > 0 %}
  <div class="pro-aside-block">
    <hr class="sidebar-divider">
    <div class="sidebar-section-title">Tags</div>
    <div class="pro-aside-tags">
      {% for tag in page.tags %}
        <a href="{{ site.baseurl }}/tag/{{ tag | slugify }}/" class="tag">{{ tag }}</a>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</aside>