<div id="search">
        <div class="title">{{ site.t[page.lang].search }}</div>
        <script>
                (function() {
                  var cx = '011993730579911903160:17ronej8jdw';
                  var gcse = document.createElement('script');
                  gcse.type = 'text/javascript';
                  gcse.async = true;
                  gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                  var s = document.getElementsByTagName('script')[0];
                  s.parentNode.insertBefore(gcse, s);
                })();
        </script>
        <gcse:search></gcse:search>
</div>