.article-list-footer {
    margin-top: 1em;
    .article-list-header {
        color: #000066;
        border-bottom: solid #DDDDDD 2px;
        font-family: "Russo One";
        font-size: 1.5em;
    }
    .article-list-entry {
        margin-left: 1em;
    }
}