.front-post {
    border-bottom: solid #DDDDDD 2px;
    margin: 2em;
    padding-bottom: 2em;
  
    &:last-child {
        border-bottom: none;
    }
    @include mobile {
        margin: 0.5em;
    }
    H1 {
        font-family: "Share Tech";
        text-shadow: 1px 1px 2px #999999;
        font-size: 1.8em;
        font-weight: bold;
        @include mobile {
            font-size: 1.5em;
            text-shadow: none;
            text-align: center;
        }
    }
    H2 {
        font-family: "Oswald";
        font-size: 1em;
        A {
            color: black;
        }
        @include mobile {
            text-align: center;
        }
    }
    P {
        font-size: 1em;
        @include mobile {
            font-size: 1em;
        }
    }
    .logo {
        @include mobile {
            // width : 25%;
            float: none;
            margin: auto;
            text-align: center;
            display: block;
        }
    }

    .front-date {
      font-style: italic;
      text-align: left;
      color: $gray;
      @include mobile {
          margin-top: 1em;
      }
  }

    .entry A {
        color: $darkGray;
    }

    .entry {

        border-left: solid $darkGray 2px;

        P {
            margin-top: 1em;
            margin-bottom: 1em;
        }

        A {
            color: $darkGray;
        }
        P>IMG {
            margin: 1em;
        }
        UL>LI {
            margin-left: 1.5em;
        }
    }
    
    .read-more {
        font-size: 1em;
        text-align: left;
        color: $blue;
        margin-top: 1em;
        
        A,
        A:visited {
            color: white;
            padding : 0.2em;
            background-color: $blue;
            border-radius: 0.5em;
            -moz-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            -webkit-transition: all .2s ease-in;
            transition: all .2s ease-in;
        }
        A:hover {
            color: #FFFF00;
            padding : 0.5em;
            background-color: #000080;
            border-radius: 0.5em;
            font-size: 16px;
            font-family: "amstrad";
        }
    }
}