.preformatted {
  font-family: "Share Tech Mono", monospace;
  color: #00ff00;
  background-color: black;
  background-image:
    repeating-linear-gradient(0deg,rgba(0,0,0,0.95),rgba(0,0,0,0.15) 1px, transparent 1px, transparent 2px),
    radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
  padding: 7px 7px 7px 10px;
  border: 1px solid $amber;
  border-radius: 0;
  box-shadow: none;
  margin: 1em 0;
  white-space: pre;
  overflow: auto;
  tab-size: 4;
  -moz-tab-size: 4;
  text-shadow: 0 0 5px #C8C8C8;
}

.nowrap { white-space: nowrap; }

.fakescreen {
  margin-left: 2em;
  border: solid $border 2px;
  border-radius: 0;
}
