.language-selector {

    margin-left : 2em;
    display : block;
    li {
        display: inline
    }
    margin-right : 1em;
}

#upper-languages {
  text-align: center;
  margin:1em;
}

.flag {
    background-repeat: no-repeat;
    background-position: 4px 4px;
    padding-left: 32px;
}

.fr {
    background-image: url('/images/flags/fr.png');
}

.en {
    background-image: url('/images/flags/en.png');
}