.post {
  margin-top: 1rem;

  ul, ol { margin-left: 1em; }

  .logo-in-page { display: none; } // replaced by .post-header .post-logo

  .accroche { display: none; } // replaced by .post-subtitle in new header

  .date { display: none; } // replaced by .post-meta

  .metadata { display: none; } // replaced by .post-meta
}