.share-page {
    box-shadow: 5px 5px 5px black;
    text-align: center;
    text-shadow: 1px 1px 1px #555555;
    margin: 1em;
    padding: 0.5em;
    border-radius: 1em;
    background-color: #000066;
    color: yellow;

    a,
    a:visited,
    a:hover {
        color: white;
        text-shadow: 1px 1px 1px white;
    }

    a:before {
        content: '>';
        color: yellow;
    }
}