<!DOCTYPE html>
<html lang="fr">
  <head>
    {% include meta.html %}
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/blink.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hover/hover.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/1.0.0/typewriter.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />  
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" alt="{{ site.name }}" title="{{ site.name }}" /></a>

          <div class="site-info">
            <h1 id="site-name" class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }} </a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/" class="hvr-bob">Articles</a>
            <a href="{{ site.baseurl }}/about" class="hvr-bob">A propos</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">  
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %} 
          <div class="legal">
          <img src="{{ site.baseurl }}/images/creative-commons/by-sa.svg" alt="CC:BY-SA" />
          <br/>
          Licences Creative Commons : ATTRIBUTION - PARTAGE DANS LES MEMES CONDITIONS <br/>
          François-Xavier Robin - 2018
          </div>
        </footer>
      </div>
    </div>

    <a href="#0" class="cd-top js-cd-top">Top</a>
    <script src="/js/main.js"></script>
    
    <script>
    (function() {
  var pre = document.getElementsByTagName('pre'),
    pl = pre.length;
  for (var i = 0; i < pl; i++) {
    pre[i].innerHTML = '<span class="line-number"></span>' + pre[i].innerHTML + '<span class="cl"></span>';
    var num = pre[i].innerHTML.split(/\n/).length;
    for (var j = 0; j < (num - 1); j++) {
      var line_num = pre[i].getElementsByTagName('span')[0];
      line_num.innerHTML += '<span>' + (j + 1) + '</span>';
    }
  }
})();
    </script>

    {% include analytics.html %}
    
    <script>
    var app = document.getElementById('site-name');

    var typewriter = new Typewriter(app, {
        loop: true,
        cursor: '\u2588'
    });

    typewriter.typeString('FX JavaDevBlog')
        .pauseFor(2500)
        .typeString(' : un blog sur Java')
        .pauseFor(2500)
        .deleteChars(8)
        .typeString("et sur l'architecture SI")
        .pauseFor(2500)
        .start();

    </script>
    
  </body>
</html>
