<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    {% include analytics.html %}
    {% include meta.html %}
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include favicon.html %}
    <meta name="theme-color" content="#0A0A0A" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/1.0.0/typewriter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="stylesheet" type="text/css" href="/asciinema/asciinema-player.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/print.css" media="print"/>
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar">
            <img src="{{ site.avatar }}" alt="{{ site.name }}" title="{{ site.name }}" />
          </a>

          <div class="site-info">
            <h1 id="site-name" class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
          </div>

          <div class="header-lang">
            <a href="{{ site.baseurl }}/index-fr.html"
               class="{% if page.lang == 'fr' %}active{% endif %}">FR</a>
            <span class="lang-sep">·</span>
            <a href="{{ site.baseurl }}/index-en.html"
               class="{% if page.lang == 'en' %}active{% endif %}">EN</a>
          </div>
        </header>
      </div>
    </div>

    <div class="site-wrapper">
      <aside class="sidebar">
        <div class="sidebar-prompt">$ ls /dev/</div>
        {% include sidebar-nav.html %}
        <hr class="sidebar-divider">
        {% include search.html %}
        <hr class="sidebar-divider">
        <div class="sidebar-section-title">#TAGS</div>
        {% include tags.html %}
      </aside>
      <main class="main-content" id="main" role="main">
        {{ content }}
      </main>
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer>
          <div class="footer-links">
            <a href="https://github.com/fxrobin/" target="_blank" rel="nofollow">[gh]</a>
            <a href="https://www.linkedin.com/in/fxrobin/" target="_blank" rel="nofollow">[li]</a>
            <a href="https://stackoverflow.com/users/3017541/fxrobin" target="_blank" rel="nofollow">[so]</a>
            <a href="{{ site.baseurl }}/feed.xml">[rss]</a>
            <img src="{{ site.baseurl }}/images/creative-commons/by-sa.svg" alt="CC:BY-SA" style="height:14px; opacity:0.5;" />
          </div>
          <div class="footer-legal">
            FX Robin · CC BY-SA · ref:[{{ page.ref }}]
          </div>
        </footer>
      </div>
    </div>

    <a href="#0" class="cd-top js-cd-top">Top</a>
    <script src="/js/main.js"></script>

    <script>
     <!-- numerotation des portions de code -->
    (function() {
        var pre = document.getElementsByTagName('pre'), pl = pre.length;
        for (var i = 0; i < pl; i++) 
        {
          pre[i].innerHTML = '<span class="line-number"></span>' + pre[i].innerHTML + '<span class="cl"></span>';
          var num = pre[i].innerHTML.split(/\n/).length;
          for (var j = 0; j < (num - 1); j++) 
          {
            var line_num = pre[i].getElementsByTagName('span')[0];
            line_num.innerHTML += '<span>' + (j + 1) + '</span>';
          }
        }
      })();
    </script>

    <script>
      var app = document.getElementById('site-name');

      var typewriter = new Typewriter(app, {
          loop: true,
          delay: 'natural',
          cursor: '&#x2582;'
      });

      {% if page.lang == "fr" %}
        typewriter.typeString('>FX_JavaDevBlog : ')
            .pauseFor(2500)
           .typeString('réflexions sur Java')
            .pauseFor(2500)
            .typeString(" SE")
            .pauseFor(2500)
            .deleteChars(2)
            .typeString(" EE")
            .pauseFor(2500)
            .deleteChars(8)
            .typeString("l'archi. SI")
            .pauseFor(2500)
            .start();
      {% else %}
        typewriter.typeString('>FX_JavaDevBlog : ')
            .pauseFor(2500)
            .typeString('thoughts about Java')
            .pauseFor(2500)
            .typeString(" SE")
            .pauseFor(2500)
            .deleteChars(2)
            .typeString(" EE")
            .pauseFor(2500)
            .deleteChars(8)
            .typeString("IT Architecture")
            .pauseFor(2500)
            .start();
      {% endif %}
    </script>
    <script src="/asciinema/asciinema-player.js"></script>
    {% if page.mermaid %}
      {% include mermaid.html %}
    {% endif %}  
  </body>
</html>
